{% extends 'base.html.twig' %}

{% block title %}Контакты{% endblock %}

{% block body %}
    <div class="about_container">
        <ul>
            <li>
                <p>
                    Индивидуальная разработка Фоторамок, Изготовление визуализация и разработка изделий из дерева, Семейные фоторамки и  деревья. Свадебные хештеги и семейные герба. Аксессуары для фотосессий.
                </p>
            </li>
            <div class="wrapper">
                <ul>
                    <li>Skype: mihalich966</li><br>
                    <li>Email: dellfins@mail.ru</li><br>
                    <li>Телефон: +7 952 921-01-03</li>
                </ul>
            </div>
        </ul>
    </div>
{% endblock %}
