#main{
    position: relative;
}

img {
    width: 100%;
    position: relative;
}

.table {
    height: 450px;
    width: 500px;
    background-color: transparent;
    position: absolute;
    z-index: 1 !important;
    top: 600px;
    left: 980px;
}

.table:hover {
    border: 2px red solid;
}

.frame {
    height: 74px;
    width: 116px;
    background-color: transparent;
    position: absolute;
    z-index: 1 !important;
    top: 290px;
    left: 1245px;
}

.frame:hover {
    border: 2px greenyellow solid;
}

.frame2 {
    height: 179px;
    width: 250px;
    background-color: transparent;
    position: absolute;
    z-index: 1 !important;
    top: 242px;
    left: 67px;
}

.frame2:hover {
    border: 2px greenyellow solid;
}

.game {
    height: 118px;
    width: 213px;
    background-color: transparent;
    position: absolute;
    z-index: 9 !important;
    top: 836px;
    left: 1108px;
}

.game:hover {
    border: 2px blue solid;
}

.shelf {
    height: 267px;
    width: 130px;
    background-color: transparent;
    position: absolute;
    z-index: 9 !important;
    top: 185px;
    left: 697px;
}

.shelf:hover {
    border: 2px blue solid;
}

.clock {
    height: 142px;
    width: 64px;
    background-color: transparent;
    position: absolute;
    z-index: 9 !important;
    top: 165px;
    left: 1014px;
}

.clock:hover {
    border: 2px beige solid;
}

.shelves {
    height: 49px;
    width: 153px;
    background-color: transparent;
    position: absolute;
    z-index: 9 !important;
    top: 393px;
    left: 1190px;
}

.shelves:hover {
    border: 2px beige solid;
}

.statue {
    height: 128px;
    width: 123px;
    background-color: transparent;
    position: absolute;
    z-index: 9 !important;
    top: 610px;
    left: 1260px;
}

.statue:hover {
    border: 2px beige solid;
}

.toy {
    height: 51px;
    width: 37px;
    background-color: transparent;
    position: absolute;
    z-index: 9 !important;
    top: 390px;
    left: 740px;
}

.toy:hover {
    border: 2px palevioletred solid;
}

.mirror {
    height: 800px;
    width: 310px;
    background-color: transparent;
    position: absolute;
    z-index: 9 !important;
    top: 50px;
    left: 1590px;
}

.mirror:hover {
    border: 2px cornflowerblue solid;
}