#main{
    position: relative;
}

img {
    width: 100%;
    position: relative;
}

.el {
    position: absolute;
}

.el:hover {
    border: 2px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.el:nth-of-type(1){
    height: 13.06%;
    width: 7.41%;
    top: 23.33%;
    left: 54.25%;
}

.el:nth-of-type(2){
    height: 8.24%;
    width: 11.4%;
    top: 67.78%;
    left: 36.62%;
 }

.el:nth-of-type(3){
    height: 20.42%;
    width: 7.66%;
    top: 47.91%;
    left: 93.9%;
}

.el:nth-of-type(4){
    height: 15.54%;
    width: 12.21%;
    top: 45.14%;
    left: 12.27%;
}

.el:nth-of-type(5) {
    height: 23.58%;
    width: 7.35%;
    top: 38%;
    left: 42.53%;
}

.el:nth-of-type(6) {
    height: 11.45%;
    width: 8.55%;
    top: 67.5%;
    left: 84.55%;
}

.el:nth-of-type(7) {
    height: 12%;
    width: 7.55%;
    top: 42%;
    left: 58.55%;
}

.el:nth-of-type(8) {
    height: 26%;
    width: 5%;
    top: 42%;
    left: 88.95%;
}

.el:nth-of-type(9) {
    height: 28%;
    width: 9%;
    top: 28%;
    left: 0%;
}

.el:nth-of-type(10) {
    height: 5%;
    width: 2%;
    top: 57%;
    left: 45.3%;
}


