{% extends 'base.html.twig' %}

{% block title %}Примеры работ{% endblock %}

{% block body %}
    <div class="about-container">
        <div class="gallery cf">
            {% for product in products %}
                <div>
                    <a class="product-image-small" href="{{ path('product', {'title': product.title}) }}">
                        <img src="/uploads/images/products/{{ product.image }}"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
