.about-container{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
}

.about-wrapper{
    border: 1px dashed darkblue;
}

.about-paragraph {
    width: auto;
    display: block;
    text-align: justify;
}

ul{
    list-style-type: none;
}

p {
    text-align: left;
}

.wrapper ul{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    text-align: left;
}